altgraph
asyncio
certifi
cffi
charset-normalizer
comtypes
darr
icoextract
idna
infi.systray
keyboard
MouseInfo
Nuitka
numpy
ordered-set
packaging
pefile
pillow
psutil
PyAutoGUI
pycaw
pyclip
pycparser
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
pynput
pyperclip
PyRect
PyScreeze
python-dotenv
pytweening
pywin32
pywin32-ctypes
requests
setuptools
six
soundfile
urllib3
winsdk
zstandard
