altgraph==0.17.4
asyncio==3.4.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
comtypes==1.2.0
darr==0.5.5
icoextract==0.1.4
idna==3.6
infi.systray==0.1.12
MouseInfo==0.1.3
Nuitka==1.9
numpy==1.26.2
ordered-set==4.1.0
packaging==23.2
pefile==2023.2.7
Pillow==10.1.0
psutil==5.9.6
PyAutoGUI==0.9.54
pycaw==20230407
pyclip==0.7.0
pycparser==2.21
PyGetWindow==0.0.9
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyMsgBox==1.0.9
pynput==1.7.6
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-dotenv==1.0.0
pytweening==1.0.7
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
six==1.16.0
soundfile==0.12.1
urllib3==2.1.0
winsdk==1.0.0b10
zstandard==0.22.0
